version: "3.7"

services:

  server-config:
    image: {{ config_docker_image }}
    hostname: {{ config_hostname }}
    container_name: {{ config_container_name }}
    environment:
      - TZ={{ config_TZ }}
      - SERVER_PORT={{ config_SERVER_PORT }}
      - SERVER_SSL_KEYSTOREPASSWORD={{ config_SERVER_SSL_KEYSTORE }}
      - SERVER_SSL_KEYPASSWORD={{ config_SERVER_SSL_KEYPASSWORD }}
      - SPRING_SECURITY_USER_NAME={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - SPRING_SECURITY_USER_PASSWORD={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI={{ config_SPRING_CLOUD_CONFIG_SERVER_GIT_URI }}
      - SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME={{ config_SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME }}
      - SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD={{ config_SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD }}
      - SPRING_CLOUD_CONFIG_SERVER_VAULT_HOST={{ config_SPRING_CLOUD_CONFIG_SERVER_VAULT_HOST }}
      - HOSTNAME={{ config_HOSTNAME }}
      - LOGGING_CONFIG=/opt/viridian/spring/logback.xml
    volumes:
      - {{ tls_path }}:/opt/viridian/tls:ro
      - {{ config_logback_file }}:/opt/viridian/spring/logback.xml:ro
    logging:
      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ config_HOSTNAME }}
    extra_hosts:
      - "{{ syslog_server_HOSTNAME }}:{{ syslog_server_ip_addr }}"

  server-eureka:
    image: {{ config_eureka_image }}
    hostname: {{ config_eureka_hostname }}
    container_name: {{ config_eureka_container_name }}
    environment:
      - TZ={{ config_TZ }}
      - SERVER_PORT={{ config_SERVER_PORT }}
      - SPRING_CLOUD_CONFIG_PROFILE={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - SPRING_CLOUD_CONFIG_URI={{ config_SPRING_CLOUD_CONFIG_URI }}
      - SPRING_CLOUD_CONFIG_TOKEN={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - SPRING_CLOUD_CONFIG_USERNAME={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - SPRING_CLOUD_CONFIG_PASSWORD={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - SPRING_CLOUD_CONFIG_TIMEOUT={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
      - SERVICE_URL_DEFAULT_ZONE={{ config_eureka_client_serviceUrl }}
      - HOSTNAME={{ config_eureka_HOSTNAME }}
    volumes:
      - {{ tls_path }}:/opt/viridian/tls:ro
      - {{ config_logback_file }}:/opt/viridian/spring/logback.xml:ro
    logging:
      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ config_eureka_HOSTNAME }}
    extra_hosts:
      - "{{ syslog_server_HOSTNAME }}:{{ syslog_server_ip_addr }}"
    depends_on:
      - server-config


  server-gateway:
    image: {{ config_gateway_image }}
    hostname: {{ config_gateway_hostname }}
    container_name: {{ config_gateway_container_name }}
    environment:
      - TZ={{ config_TZ }}
      - SERVER_PORT={{ config_SERVER_PORT }}
      - SPRING_CLOUD_CONFIG_PROFILE={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - SPRING_CLOUD_CONFIG_URI={{ config_SPRING_CLOUD_CONFIG_URI }}
      - SPRING_CLOUD_CONFIG_TOKEN={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - SPRING_CLOUD_CONFIG_USERNAME={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - SPRING_CLOUD_CONFIG_PASSWORD={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - SPRING_CLOUD_CONFIG_TIMEOUT={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
      - SERVICE_URL_DEFAULT_ZONE={{ config_eureka_client_serviceUrl }}
      - HOSTNAME={{ config_gateway_HOSTNAME }}
    volumes:
      - {{ tls_path }}:/opt/viridian/tls:ro
      - {{ config_logback_file }}:/opt/viridian/spring/logback.xml:ro
    logging:
      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ config_gateway_HOSTNAME }}
    ports:
      - {{ config_gateway_tcp_port }}:443/tcp
    extra_hosts:
      - "{{ syslog_server_HOSTNAME }}:{{ syslog_server_ip_addr }}"
    depends_on:
      - server-config
      - server-eureka


  server-gateway-bank:
    image: {{ config_gateway_bank_image }}
    hostname: {{ config_gateway_bank_hostname }}
    container_name: {{ config_gateway_bank_container_name }}
    environment:
      - TZ={{ config_TZ }}
      - SERVER_PORT={{ config_SERVER_PORT }}
      - SPRING_CLOUD_CONFIG_PROFILE={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - SPRING_CLOUD_CONFIG_URI={{ config_SPRING_CLOUD_CONFIG_URI }}
      - SPRING_CLOUD_CONFIG_TOKEN={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - SPRING_CLOUD_CONFIG_USERNAME={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - SPRING_CLOUD_CONFIG_PASSWORD={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - SERVICE_URL_DEFAULT_ZONE={{ config_eureka_client_serviceUrl }}
      - HOSTNAME={{ config_gateway_bank_HOSTNAME }}
    volumes:
      - {{ tls_path }}:/opt/viridian/tls:ro
      - {{ config_logback_file }}:/opt/viridian/spring/logback.xml:ro
    logging:
      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ config_gateway_bank_HOSTNAME }}
    ports:
      - {{ config_gateway_bank_tcp_port }}:443/tcp
    extra_hosts:
      - "{{ syslog_server_HOSTNAME }}:{{ syslog_server_ip_addr }}"
    depends_on:
      - server-config
      - server-eureka

networks:
  {{ docker_network }}:
    external: true