<configuration scan="true" scanPeriod="60 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}] %highlight(%-5level) %-40.40logger{0} : %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>{{ syslog_server_HOSTNAME }}</syslogHost>
        <port>{{ syslog_server_udp_port }}</port>
        <suffixPattern>[%d{ISO8601}] %highlight(%-5level) %-40.40logger{0} : %msg%n</suffixPattern>
        <facility>LOCAL7</facility>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="Refreshing org.springframework.context" level="WARN"/>
    <logger name="com.sun.jersey.api.client.ClientHandlerException" level="WARN"/>
    <logger name="io.netty.handler.ssl.NotSslRecordException" level="OFF"/>
    <logger name="com.netflix.discovery.shared.transport.TransportException" level="OFF"/>
    <logger name="com.viridian" level="INFO" />
    <logger name="cc.viridian" level="INFO" />
    <logger name="ltd.viridian" level="INFO" />

    <root level="WARN">
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
