version: "3.7"

services:
    frontend-vdb:
      image: {{ front_end_docker_image }}
      restart: always
      container_name: {{ front_end_container_name }}
      hostname: {{ front_end_hostname }}
      domainname: {{ front_end_domain_name }}
      ports:
        - "{{ front_end_tcp_port }}:443/tcp"
      volumes:
        - {{ tls_path }}:/opt/viridian/tls:ro
