APP_NAME = Gitea: VIRIDIAN git repository
RUN_MODE = prod
RUN_USER = git

[repository]
ROOT = /data/git/repositories

[repository.upload]
TEMP_PATH = /data/gitea/uploads

[server]
APP_DATA_PATH = /data/gitea
SSH_DOMAIN    = {{ domain }}
HTTP_PORT     = {{ gitea_tcp_port }}
ROOT_URL      = {{ gitea_ssl_url }}
DISABLE_SSH   = false
SSH_PORT      = 22
PROTOCOL         = https
CERT_FILE        = {{ tls_path }}/cert.pem
KEY_FILE         = {{ tls_path}}/key.pem
{# DOMAIN           = {{ domain }} #}
LFS_START_SERVER = true
LFS_CONTENT_PATH = /data/gitea/lfs
LFS_JWT_SECRET   = rZmy78d2v-mh5IkmWv-zA8ar2lsEZDxc5JY_W6Sa9EE
OFFLINE_MODE     = false

[database]
PATH    = /data/gitea/gitea.db
DB_TYPE = sqlite3
HOST    = localhost:3306
NAME    = gitea
USER    = root
PASSWD  =

[session]
PROVIDER_CONFIG = /data/gitea/sessions

[picture]
AVATAR_UPLOAD_PATH = /data/gitea/avatars

[attachment]
PATH = /data/gitea/attachments

[log]
ROOT_PATH = /data/gitea/log

[security]
INSTALL_LOCK   = false
SECRET_KEY     =
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE1OTMxMDE5MDl9.KdPgamNDBxR6NOMhXbr9scrl2Wn_evbMDSaJxio-Ths