version: "3.7"

services:

  web-gitea:
    image: {{ gitea_docker_image }}
    container_name: {{  gitea_container_name }}
    volumes:
      - ./data:/data
      - {{ tls_path }}:/opt/viridian/tls:ro
    ports:
      - "{{ gitea_tcp_port }}:3000"
    restart: always

    networks:
      {{ docker_network }}:
        aliases:
          - {{ gitea_HOSTNAME }} 

networks:
  {{ docker_network }}:
    external: true
