version: "3.7"

services:

  db:
    image: {{ db_docker_image }}
    restart: always
    container_name: {{ db_container_name }}
    hostname: {{ db_host_name }}
    domainname: {{ db_domain_name }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ db_MYSQL_ROOT_PASSWORD }}
    ports:
      - {{ db_tcp_port }}:3306
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ db_data_path }}:/var/lib/mysql
    networks:
      {{ docker_network }}:
        aliases:
          - {{ db_HOSTNAME }}


  greenbank:
    image: {{ greenbank_docker_image }}
    hostname: {{ greenbank_hostname }}
    container_name: {{ greenbank_container_name }}
    domainname: {{ domain }}
    ports:
      - "{{ greenbank_server_tcp_port }}:443/tcp"
    restart: always
    environment:
      - TZ={{ config_TZ }}
      - SERVER_PORT={{ config_SERVER_PORT }}
      - SERVICE_URL_DEFAULT_ZONE={{ config_eureka_client_serviceUrl }}
      - SPRING_CLOUD_CONFIG_URI={{ config_SPRING_CLOUD_CONFIG_URI }}
      - SPRING_CLOUD_CONFIG_USERNAME={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - SPRING_CLOUD_CONFIG_PASSWORD={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - SPRING_CLOUD_CONFIG_TOKEN={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - SPRING_CLOUD_CONFIG_PROFILE={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - SPRING_CLOUD_CONFIG_TIMEOUt={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - {{ tls_path }}:/opt/viridian/tls:ro
      - {{ config_logback_file }}:/opt/viridian/spring/logback.xml:ro
    logging:
      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ greenbank_HOSTNAME }} 

networks:
  {{ docker_network }}:
    external: true