version: "3.7"

services:
  database:
    image: {{ local_database.docker_image }}
    hostname: {{ local_database.hostname }}
    container_name: {{ local_database_container_name }}
    environment:
      - LICENSE=accept
      - STORAGE=local
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    ipc: shareable
    ports:
      - "{{ local_database.ports.tcp_port }}:9088"
      - "{{ local_database.ports.jdbc_port }}:9089"
    restart: always
    user: informix
    networks:
      {{ docker_network }}:
        aliases:
          - {{ local_database_HOSTNAME }}

networks:
  {{ docker_network }}:
    external: true