version: '3.7'

services:
  zookeeper:
    image: {{ zookeeper_docker_image }}
    restart: always
    hostname: {{ zookeeper_hostname }}
    container_name: {{ zookeeper_container_name }}
    ports:
      - '{{ zookeeper_server_tcp_port }}:2181'
    volumes:
      - '{{ zookeeper_VOLUME }}:/bitnami/zookeeper'
    environment:
      - ALLOW_ANONYMOUS_LOGIN={{ zookeeper_ALLOW_ANONYMOUS_LOGIN }}
    networks:
      {{ docker_network }}:
        aliases:
          - {{ zookeeper_HOSTNAME }}  
  
  kafka:
    image: {{ kafka_docker_image }}
    restart: always
    hostname: {{ kafka_hostname }}
    container_name: {{ kafka_container_name }}
    ports:
      - '{{ kafka_server_external_tcp_port }}:9093'
    volumes:
      - '{{ kafka_VOLUME }}:/bitnami/kafka'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT={{ kafka_CFG_ZOOKEEPER_CONNECT }}
      - ALLOW_PLAINTEXT_LISTENER={{ kafak_ALLOW_PLAINTEXT_LISTENER }}
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE={{ kafka_CFG_AUTO_CREATE_TOPICS_ENABLE }}
      - KAFKA_CFG_LISTENERS={{ kafka_CFG_LISTENERS }}
      - KAFKA_CFG_ADVERTISED_LISTENERS={{ kafka_CFG_ADVERTISED_LISTENERS }}
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP={{ kafka_CFG_LISTENER_SECURITY_PROTOCOL_MAP }}
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME={{ kafka_CFG_INTER_BROKER_LISTENER_NAME }}
    depends_on:
      - zookeeper
    extra_hosts:
      - "zookeper:{{ ansible_default_ipv4.address }}"
    networks:
      {{ docker_network }}:
        aliases:
          - {{ kafka_hostname }}.{{ docker_network }}  
          - {{ kafka_environment }}.{{ docker_network }}

networks:
  {{ docker_network }}:
    external: true