#!/bin/bash
# This is a post instalation steps you have to perform

# Dump to zookeeper
cd {{ kafka_path }}/tools
docker run --network {{ docker_network }} --rm -it -v "$PWD":/home/groovy/scripts -w /home/groovy/scripts groovy java -jar zookeeperdump-1.0.0-7.jar -s zookeeper {{ zookeeper_dump_file_name }}

# Topics creation
cd {{ kafka_path }}
docker exec -t -w /opt/bitnami/kafka/bin {{ kafka_container_name }} bash create-topics.sh -e {{ vdb_environement }} -z {{ zookeeper_container_name }}:{{ zookeeper_server_tcp_port }} -t topics.csv

