version: "3.7"

services:

  sqldata:
    image: {{ mssql_database.docker_image }}
    container_name: {{  mssql_database_container_name }}
    ports:
      - "{{ mssql_database.ports.tcp_port }}:1433"
    environment:
      - SA_PASSWORD={{ mssql_database.SA_PASSWORD }}
      - ACCEPT_EULA={{ mssql_database.ACCEPT_EULA }}
    restart: always

    networks:
      {{ docker_network }}:
        aliases:
          - {{ mssql_database_HOSTNAME }} 

networks:
  {{ docker_network }}:
    external: true
