version: "3.7"

services:
    vault:
      image: {{ vault_docker_image }}
      restart: always
      container_name: {{ vault_container_name }}
      hostname: {{ vault_host_name }}
      domainname: {{ vault_domain_name }}
      ports:
        - "{{ vault_tcp_port }}:8200"
      volumes:
        - {{ tls_path }}:/opt/viridian/tls:ro
        - ./vault-data:/vault-data
        - ./config:/vault/config
      cap_add:
        - IPC_LOCK
      entrypoint: vault server -config=/vault/config/config.json
      networks:
        {{ docker_network }}:
          aliases:
            - {{ vault_HOSTNAME }}

networks:
  {{ docker_network }}:
    external: true