version: "3.7"

services:


  manager-api:
    image: {{ vdb_manager_api_image }}
    hostname: {{ vdb_manager_api_hostname }}
    container_name: {{ vdb_manager_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_manager_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_manager_api_HOSTNAME }}

  manager-hosted:
    image: {{ vdb_manager_hosted_image }}
    hostname: {{ vdb_manager_hosted_hostname }}
    container_name: {{ vdb_manager_hosted_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_manager_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_manager_hosted_HOSTNAME }}

  security-api:
    image: {{ vdb_security_api_image }}
    hostname: {{ vdb_security_api_hostname }}
    container_name: {{ vdb_security_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_security_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_security_api_HOSTNAME }}

  accounts-api:
    image: {{ vdb_accounts_api_image }}
    hostname: {{ vdb_accounts_api_hostname }}
    container_name: {{ vdb_accounts_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_accounts_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_accounts_api_HOSTNAME }}

  accounts-hosted:
    image: {{ vdb_accounts_hosted_image }}
    hostname: {{ vdb_accounts_hosted_hostname }}
    domainname: {{ domain }}
    container_name: {{ vdb_accounts_hosted_container_name }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_accounts_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_accounts_hosted_HOSTNAME }}

  beneficiaries-api:
    image: {{ vdb_beneficiaries_api_image }}
    hostname: {{ vdb_beneficiaries_api_hostname }}
    container_name: {{ vdb_beneficiaries_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_beneficiaries_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_beneficiaries_api_HOSTNAME }}

  beneficiaries-hosted:
    image: {{ vdb_beneficiaries_hosted_image }}
    hostname: {{ vdb_beneficiaries_hosted_hostname }}
    container_name: {{ vdb_beneficiaries_hosted_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_beneficiaries_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_beneficiaries_hosted_HOSTNAME }}

  transactions-api:
    image: {{ vdb_transactions_api_image }}
    hostname: {{ vdb_transactions_api_hostname }}
    container_name: {{ vdb_transactions_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_transactions_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro 
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_transactions_api_HOSTNAME }}

  transactions-hosted:
    image: {{ vdb_transactions_hosted_image }}
    hostname: {{ vdb_transactions_hosted_hostname }}
    container_name: {{ vdb_transactions_hosted_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_transactions_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_transactions_hosted_HOSTNAME }}

  utilities-api:
    image: {{ vdb_utilities_api_image }}
    hostname: {{ vdb_utilities_api_hostname }}
    container_name: {{ vdb_utilities_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_utilities_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_utilities_api_HOSTNAME }}

  utilities-hosted:
    image: {{ vdb_utilities_hosted_image }}
    hostname: {{ vdb_utilities_hosted_hostname }}
    container_name: {{ vdb_utilities_hosted_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_utilities_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro 
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_utilities_hosted_HOSTNAME }}

  simple-api:
    image: {{ vdb_simple_api_image }}
    hostname: {{ vdb_simple_api_hostname }}
    container_name: {{ vdb_simple_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_simple_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_simple_api_HOSTNAME }}

  simple-certsmanager:
    image: {{ vdb_simple_certsmanager_image }}
    hostname: {{ vdb_simple_certsmanager_hostname }}
    container_name: {{ vdb_simple_certsmanager_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - EUREKA_INSTANCE_HOSTNAME={{ vdb_simple_certsmanager_HOSTNAME }}
      - EUREKA_INSTANCE_SECUREPORT={{ config_eureka_instance_securePort }}
      - SERVER_PORT={{ config_SERVER_PORT }}
      - SPRING_CLOUD_CONFIG_PROFILE={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - SPRING_CLOUD_CONFIG_URI={{ config_SPRING_CLOUD_CONFIG_URI }}
      - SPRING_CLOUD_CONFIG_TOKEN={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - SPRING_CLOUD_CONFIG_USERNAME={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - SPRING_CLOUD_CONFIG_PASSWORD={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - SPRING_CLOUD_CONFIG_TIMEOUt={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
      - SERVICE_URL_DEFAULT_ZONE={{ config_eureka_client_serviceUrl }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
      - {{ config_logback_file }}:/opt/viridian/spring/logback.xml:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_simple_certsmanager_HOSTNAME }}

  servicepayments-api:
    image: {{ vdb_servicepayments_api_image }}
    hostname: {{ vdb_servicepayments_api_hostname }}
    container_name: {{ vdb_servicepayments_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_servicepayments_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_servicepayments_api_HOSTNAME }}

  notifications-api:
    image: {{ vdb_notifications_api_image }}
    hostname: {{ vdb_notifications_api_hostname }}
    container_name: {{ vdb_notifications_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_notifications_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_notifications_api_HOSTNAME }}

  notifications-hosted:
    image: {{ vdb_notifications_hosted_image }}
    hostname: {{ vdb_notifications_hosted_hostname }}
    container_name: {{ vdb_notifications_hosted_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_notifications_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_notifications_hosted_HOSTNAME }}

  statements-api:
    image: {{ vdb_statements_api_image }}
    hostname: {{ vdb_statements_api_hostname }}
    container_name: {{ vdb_statements_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_statements_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_statements_api_HOSTNAME }}

  statements-hosted:
    image: {{ vdb_statements_hosted_image }}
    hostname: {{ vdb_statements_hosted_hostname }}
    container_name: {{ vdb_statements_hosted_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_statements_hosted_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_statements_hosted_HOSTNAME }}

  trade-api:
    image: {{ vdb_trade_api_image }}
    hostname: {{ vdb_trade_api_hostname }}
    container_name: {{ vdb_trade_api_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_trade_api_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_trade_api_HOSTNAME }}

  bank-gateway:
    image: {{ vdb_bank_gateway_image }}
    hostname: {{ vdb_bank_gateway_hostname }}
    container_name: {{ vdb_bank_gateway_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_bank_gateway_HOSTNAME }}
      - eureka__instance__securePort={{ config_eureka_instance_securePort }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_bank_gateway_HOSTNAME }}

  bank-service:
    image: {{ vdb_bank_service_image }}
    hostname: {{ vdb_bank_service_hostname }}
    container_name: {{ vdb_bank_service_container_name }}
    domainname: {{ domain }}
    environment:
      - TZ={{ config_TZ }}
      - eureka__instance__hostname={{ vdb_bank_service_webservice_HOSTNAME }}
      - eureka__instance__securePort={{ vdb_bank_service_webservice_port }}
      - eureka__client__serviceUrl={{ config_eureka_client_serviceUrl }}
      - spring__cloud__config__env={{ config_SPRING_CLOUD_CONFIG_PROFILE }}
      - spring__cloud__config__uri={{ config_SPRING_CLOUD_CONFIG_URI }}
      - spring__cloud__config__token={{ config_SPRING_CLOUD_CONFIG_TOKEN }}
      - spring__cloud__config__username={{ config_SPRING_CLOUD_CONFIG_USERNAME }}
      - spring__cloud__config__password={{ config_SPRING_CLOUD_CONFIG_PASSWORD }}
      - spring__cloud__config__timeout={{ config_SPRING_CLOUD_CONFIG_TIMEOUT }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ tls_path }}:/opt/viridian/tls:ro
    extra_hosts:
      - "{{ syslog_HOSTNAME }}:{{ syslog_ip_addr }}"
#    logging:
#      driver: local
    networks:
      {{ docker_network }}:
        aliases:
          - {{ vdb_bank_service_HOSTNAME }}

networks:
  {{ docker_network }}:
    external: true