database:
  type: {{ application_database_type }}
  host: {{ application_database_HOSTNAME }}
  port: {{ application_database_tcp_port }}
  jdbcport: {{ application_database_jdbc_port }}
  db: {{ application_database_name }}

email:
  host: {{ email_HOSTNAME }}
  port: {{ email_tcp_port }}
  ssl: {{ email_ssl }}
  address: {{ email_address }}
  password: {{ email_password }}
  displayName: {{ email_displayName }}

jwt:
  issuer: viridian.cc
  expireTime: 7
  refreshTokenExpireTime: 60
  adminExpireTime: 15
  adminRefreshTokenExpireTime: 60

kafka:
  bootstrapServer: {{ kafka_container_HOSTNAME }}:{{ kafka_server_internal_tcp_port }}

logging:
  config: {{ config_logback_file }}

serilog:
  elasticsearch:
    enabled: {{ slack_enabled }}
    host: {{ elasticsearch_url }}
  slack:
    enabled: {{ elasticsearch_enabled }}
    webhook: {{ slack_webhook }}
  syslog:
    host: {{ syslog_server_HOSTNAME }}
    port: {{ syslog_server_udp_port }}
    outputTemplate: '{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level:u3}] {trnID} {SourceContext,-40} : {Message:lj}{NewLine}{Exception}'

sms:
  twilio:
    accountSid: {{ twilio_accountSid }}
    serviceId: {{ twilio_serviceId }}

vault:
  host: {{ vault_url }}

zookeeper:
  host: {{ zookeeper_HOSTNAME }}:{{ zookeeper_server_tcp_port }}
