export LS_OPTIONS='--color=auto'
eval "`dircolors`"
alias ls='ls $LS_OPTIONS -l'
alias ll='ls $LS_OPTIONS -l'
alias l='ls $LS_OPTIONS -lA'
alias sudo='sudo '
alias table='column -t'

#export JAVA_HOME="/opt/java"
#export PATH="$PATH:$HOME/bin:$JAVA_HOME/bin"
#export PS1='\[\033[0;31m\][\u@\h \W]\$\[\033[00m\] '
export PS1='\[\033[01;32m\][\u@\h \W]\$\[\033[00m\] '


vlogspath='/var/log/remote/{{ syslog_HOSTNAME }}/msg/'
vdocker() {
  ~/scripts/vdocker.sh $1 $2 ;
}
cdviridian() {
   cd {{ viridian_root_path }}/$1;
} 
vansible_adminserver() {
   ansible-playbook -l adminserver main.yml --ask-become-pass -t $@;
} 
vansible_viridianservers() {
   ansible-playbook -l viridianservers main.yml --ask-become-pass -t $@;
} 
vansible_proxyservers() {
   ansible-playbook -l proxyservers main.yml --ask-become-pass -t $@;
} 
vansible_passwd() {
   ansible-playbook -l all playbooks/passwd.yml --ask-become-pass -e user=$1 ;
}
vansible_set_users() {
   ansible-playbook -l all playbooks/set-users.yml --ask-become-pass ;
}
vtailgrep() {
        sudo tail -f "$vlogspath/$1" | grep "$2";
}

vtail() {
        sudo tail -f "$vlogspath/$1";
}

vgrep() {
        sudo egrep --color $1 "$vlogspath/$2";
}

vlslogs() {
        sudo ls -la $vlogspath;
}
vgreperr() {
        sudo egrep --color "ERR"  "$vlogspath/$1" | cut -c 63- | tr -s " ";
}