````````````````````````````````````````````````````````````````````````````````
`.   .`      .' |  |````````,  |  |`````````.   |   `   .'.       |..          |
  `.       .'   |  |    .   ,  |  |  `       |  |     .'   `.     |  ``..  `   |
.   `.   .'     |  | '''''''   |  |     '    |  |   .'   *   `.   |      ``..  |
      `.'   .   |  |       `.  |  |.........'   | .'   '       `. | .        ``|
________________________________________________________________________________
````````````````````````````````````````````````````````````````````````````````
 hostname :  {{ansible_hostname}}
 server :    {{ansible_fqdn}}
 ip :        {{ansible_default_ipv4.address}}
 kernel :    {{ansible_kernel}}
 distrib :   {{ansible_distribution}} {{ansible_distribution_major_version}} ({{ansible_distribution_release}})

Authorized uses only. All activity may be monitored and reported.
````````````````````````````````````````````````````````````````````````````````
