# Hardened SSHD bastion config -- modify wisely!

# -rt users only have local login
DenyUsers *-rt

# hardened params follow
AcceptEnv LANG LC_*
AllowAgentForwarding no
AllowTcpForwarding no
Banner /etc/ssh/banner
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
DebianBanner no
GatewayPorts no
GSSAPIAuthentication no
GSSAPIKeyExchange no
HostbasedAuthentication no
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
IgnoreRhosts yes
IgnoreUserKnownHosts no
KbdInteractiveAuthentication no
KerberosAuthentication no
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
MaxSessions 1
MaxStartups 50:30:500
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
PermitUserEnvironment no
PermitRootLogin no
PrintMotd no
Protocol 2
PubkeyAuthentication yes
RhostsRSAAuthentication no
RSAAuthentication yes
PubkeyAuthentication yes
StrictModes yes
SyslogFacility AUTH
UseDNS no
UsePAM yes
UsePrivilegeSeparation sandbox
X11Forwarding no
KeyRegenerationInterval 3600
Port 22
ListenAddress {{ sshd_listen_address | default('0.0.0.0') }}
LoginGraceTime 30
LogLevel VERBOSE
PrintLastLog yes
TCPKeepAlive yes
Subsystem sftp /usr/lib/openssh/sftp-server
AllowUsers {{ sshd_allowed_users | join(' ') }}
AuthorizedKeysFile {{ sshd_authorized_keys | join(' ') }}