# {{ ansible_managed }}

{{ item.files|join(' ') }} {
{% for key, value in item.options.items() %}
{%   if value is sameas true %}
    {{ key }}
{%   elif value is sameas false %}
#   {{ key }}
{%   elif value is string %}
    {{ key }} {{ value|string }}
{%   elif value is number %}
    {{ key }} {{ value|int }}
{%   elif value is iterable %}
    {{ key }}
{%     for i in item.options[key] %}
        {{ i }}
{%     endfor %}
    endscript
{%   else %}
    {{ key }} {{ value }}
{%   endif %}
{% endfor %}
}
