# {{ ansible_managed }}
# logrotate: {{ logrotate|length }}
# logrotate_files: {{ logrotate_files|length }}
{% if logrotate|length > 0 %}

{%   for key, value in logrotate.items()|sort %}
{%     if value is sameas true %}
{{ key }}
{%     elif value is sameas false %}
# {{ key }}
{%     elif value is string %}
{{ key }} {{ value|string }}
{%     elif value is number %}
{{ key }} {{ value|int }}
{%     else %}
{{ key }} {{ value }}
{%     endif %}
{%   endfor %}
{% endif %}
{% if logrotate_files|length > 0 %}

{%   for f in logrotate_files %}
{{ f.files|join(' ') }} {
{%     for key, value in f.options.items() %}
{%       if value is sameas true %}
    {{ key }}
{%       elif value is sameas false %}
#   {{ key }}
{%       elif value is string %}
    {{ key }} {{ value|string }}
{%       elif value is number %}
    {{ key }} {{ value|int }}
{%       elif value is iterable %}
    {{ key }}
{%         for i in value %}
        {{ i }}
{%         endfor %}
    endscript
{%       else %}
    {{ key }} {{ value }}
{%       endif %}
{%     endfor %}
}
{%     if not loop.last %}

{%     endif %}
{%   endfor %}
{% endif %}
