#
# Shorewall -- /etc/shorewall/interfaces
#
# For information about entries in this file, type "man shorewall-interfaces"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-interfaces.html
#
?FORMAT 2
###############################################################################
#ZONE		INTERFACE		OPTIONS
net     	NET_IF          dhcp,tcpflags,logmartians,nosmurfs,sourceroute=0,physical={{ ansible_default_ipv4.interface }}
dock    	docker0        	bridge   #Allow ICC (bridge implies routeback=1)