version: "3.7"

services:
  nexus:
    image: {{ nexus_docker_image }}
    hostname: {{ nexus_docker_name }}
    container_name: {{ nexus_container_name }}
    domainname: {{ domain }}
    restart: always
    volumes:
      - "{{ nexus_data_path }}:/nexus-data"
    ports:
      - "{{ nexus_tcp_port }}:8081"
    networks:
      {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
