# {{ ansible_managed }}

version: '3.7'
services:
  check_mk:
    image: "{{ check_mk_docker_image_name }}"
    hostname: "{{ check_mk_hostname }}"
    container_name: "{{ check_mk_container_name }}"
    ports:
      - "{{ check_mk_server_port }}:5000"
#    stdin_open: true
#    tty: true
    volumes:
      - "/opt/check_mk/monitoring:/omd/sites"
      - "/etc/localtime:/etc/localtime:ro"
    extra_hosts:
          {% for item in groups['all'] %}
       - "{{ hostvars[item]['the_hostname'] }}.{{ domain }}:{{ item }}" 
          {% endfor %}

    networks:
      {{ docker_network }}:
        aliases:
          - {{ check_mk_HOSTNAME }} 

networks:
  {{ docker_network }}:
    external: true


