version: '3.7'

services:
  proxy:
    image: "{{ proxy.image }}"
    hostname: "{{ proxy_hostname }}"
    container_name: "{{ proxy_hostname }}"
    restart: unless-stopped
    ports:
#      - "{{ proxy.ports.http}}:80"
      - "{{ proxy.ports.https}}:443"
    volumes:
      - web-root:/var/www/html
      - {{ proxy.path }}/conf/sites-available:/etc/nginx/sites-available
      - {{ proxy.path }}/conf/sites-enabled:/etc/nginx/sites-enabled
      - {{ proxy.path }}/conf/enabled-modules:/etc/nginx/enabled-modules
      - {{ proxy.path }}/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ tls_path }}:/etc/ssl/private:ro
      {#  - certbot-etc:/etc/letsencrypt
       - certbot-var:/var/lib/letsencrypt 
       - dhparam:/etc/ssl/certs  #}

    networks:
      - {{ docker_network }}
    extra_hosts:
{% for item in groups['all'] %}
      - "{{ hostvars[item]['the_hostname'] }}.{{ domain }}:{{ item }}" 
{% endfor %}
  {# certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - proxy
    command: certonly --webroot --webroot-path=/var/www/html --email adeqcor@gmail.com --agree-tos --no-eff-email --force-renewal -d nexus.aaranda.ovh #}

volumes:
  web-root:
    driver: local
    driver_opts:
      type: none
      device: {{ proxy.webroot }}
      o: bind
  {# dhparam:
    driver: local
    driver_opts:
      type: none
      device: /opt/nginx2/dhparam/
      o: bind
  certbot-etc:
  certbot-var: #}

networks:
  {{ docker_network }}:
    external: true