server {
  listen {{ proxy.ports.https }} http2 ssl;
 # listen [::]:{{ proxy.ports.https }} http2 ssl;

  server_name  {{ proxy.web_hostname }}/cmk;


    #SSL selfsigned
    	ssl_certificate        /opt/certs/cert.pem;
	    ssl_certificate_key    /opt/certs/key.pem;

    # allow large uploads of files
    #client_max_body_size 2G;

    # optimize downloading files larger than 1G
    #proxy_max_temp_file_size 2G;

        {# client_max_body_size 0;
        chunked_transfer_encoding on;
        add_header Docker-Distribution-API-Version 'registry/2.0' always; #}
    location /check {
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
        proxy_pass http://{{ check_mk_hostname }}:5000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}