server {
        listen 80;

        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;

        server_name {{ proxy.web_HOSTNAME }};
        location / {
          rewrite ^/cmk https://{{ proxy.web_HOSTNAME }}/ redirect;
        }

        location /cmk {
          rewrite ^/cmk https://{{ proxy.web_HOSTNAME }}/cmk/check_mk/ redirect;
        }

        location ~ /.well-known/acme-challenge {
                allow all;
                root /var/www/html;
        }
}

server {
  listen 443 http2 ssl;
  server_name  {{ proxy.web_HOSTNAME }};


    #SSL selfsigned
    ssl_certificate        /etc/ssl/private/cert.pem;
    ssl_certificate_key    /etc/ssl/private/key.pem;

    location /{
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
        proxy_pass https://{{ proxy.app_servers[0] }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /cmk {
        rewrite ^/cmk https://{{ proxy.web_HOSTNAME }}/cmk/check_mk/ redirect;
   }

   location /cmk/check_mk/{
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
        proxy_pass http://{{ check_mk_HOSTNAME }}:{{ check_mk_server_port }}/cmk/check_mk/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
