server {
        listen 80;

#        root /var/www/html;
#        index index.html index.htm index.nginx-debian.html;

        server_name {{ proxy_web_HOSTNAME }};
        location / {
          rewrite ^/ https://{{ proxy_web_HOSTNAME }}/ redirect;
        }

        location ~ /.well-known/acme-challenge {
                allow all;
                root /var/www/html;
        }
}

server {
  listen 443 http2 ssl;
  server_name  {{ proxy_web_HOSTNAME }};


    #SSL selfsigned
    ssl_certificate        /etc/ssl/private/cert.pem;
    ssl_certificate_key    /etc/ssl/private/key.pem;

    location /{
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
        proxy_pass https://{{ app_servers }}:{{ front_end_tcp_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /app/{
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
        proxy_pass https://{{ app_servers }}:{{ config_gateway_tcp_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }


}
