server {
  proxy_send_timeout 120;
  proxy_read_timeout 300;
  proxy_buffering    off;
  keepalive_timeout  5 5;
  tcp_nodelay        on;
    listen   *:80;
    server_name {{ nexus_HOSTNAME }};

    location / {
        return 301 https://{{ nexus_HOSTNAME }}$request_uri;
    }
}
server {
  proxy_send_timeout 120;
  proxy_read_timeout 300;
  proxy_buffering    off;
  keepalive_timeout  5 5;
  tcp_nodelay        on;

    listen   *:443 http2 ssl;
    server_name  {{ nexus_HOSTNAME }};

    #SSL section
    ssl on;
    ssl_certificate /etc/ssl/private/cert.pem;
    ssl_certificate_key /etc/ssl/private/key.pem;

    # allow large uploads of files
    #client_max_body_size 2G;

    # optimize downloading files larger than 1G
    #proxy_max_temp_file_size 2G;

    location /nexus/ {
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
      proxy_pass http://{{ nexus_hostname }}:8081/nexus/;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto "https";
    }
    location / {
      # Use IPv4 upstream address instead of DNS name to avoid attempts by nginx to use IPv6 DNS lookup
        client_max_body_size 0;
        chunked_transfer_encoding on;
        add_header Docker-Distribution-API-Version 'registry/2.0' always;
        proxy_pass http://{{ nexus_hostname }}:8082/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}